.subTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-black);
}

.box {
  border: 1px solid #cfcfcf;
  padding: 12px 16px;
  border-radius: 12px;
  display: flex;
  
}

.codeChip {
  border: 1px solid #cfcfcf;
  padding: 4px 8px;
  border-radius: 8px;
  line-height: 1;
  color: #686867;
  background-color: #f5f5f4;
}
